<!-- wp:template-part {"slug":"header","theme":"smartlog","tagName":"header"} /-->

<!-- wp:template-part {"slug":"header-banner-image","theme":"smartlog","tagName":"header","className":"block-template"} /-->

<!-- wp:group {"tagName":"main","className":"block-template"} -->
<main class="wp-block-group block-template"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group">
<!-- wp:template-part {"slug":"counter","theme":"smartlog","tagName":"counter"} /-->
<!-- wp:template-part {"slug":"call-to-action-1","theme":"smartlog","tagName":"call-to-acion-1"} /-->
<!-- wp:template-part {"slug":"services","theme":"smartlog","tagName":"services"} /-->

<!-- wp:template-part {"slug":"about","theme":"smartlog","tagName":"about"} /-->

<!-- wp:template-part {"slug":"introduction","theme":"smartlog","tagName":"introduction"} /-->

<!-- wp:template-part {"slug":"news","theme":"smartlog","tagName":"news"} /-->

<!-- wp:template-part {"slug":"pricing","theme":"smartlog","tagName":"pricing"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-four-column","theme":"smartlog","tagName":"footer","className":"block-template"} /-->
<!-- wp:pattern {"slug":"smartlog/footer-default", "theme":"smartlog","tagName":"footer","className":"block-template"} /-->